# Gin
ADDR=:32003

# Scylla
SCYLLA_HOSTS=192.168.1.87
SCYLLA_KEYSPACE=qube_hub
SCYLLA_USERNAME=
SCYLLA_PASSWORD=

# JWT
JWT_SECRET=cd609f60f2fd459cc82ca31f789da20a1a2fafa6807896b83f625a6279fc3102e2e0fcde

# File Storage
STORAGE_PATH=./storage/images
MAX_UPLOAD_SIZE=5368709120

# Report Settings
DISABLE_AT_MIN_REPORTS=5

# Admin User
ADMIN_EMAIL=ewen@macculloch.net
